@import "mixins";

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  .buttonBackground(@btnBackground, @btnBackgroundHighlight, #333, 0 1px 1px rgba(255,255,255,.75));
  border: 1px solid @btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken(@btnBorder, 10%);
  .border-radius(4px);
  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");

  &:hover,
  &:focus {
    text-decoration: none;
    background-position: 0 -15px;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition(background-position .1s linear);
  }

  // Focus state for keyboard and accessibility
  &:focus {
    .tab-focus();
  }

  // Active state

  &.active,
  &:active {
    background-image: none;
    outline: 0;
    .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    .opacity(65);
    .box-shadow(none);
  }

}

.ido_colour_picker {
	clear: both;
	padding: 7px 8px 6px 13px;
	min-width: 230px;
	text-align: left;
	margin-bottom: 10px;
	.preventSelection();

	.rcp_caption {
		float: left;
	}

	.rcp_color {
		float: right;
		width: 20px;
		height: 20px;
		.border-radius(3px);
		background-color: white;
		.box-shadow(~"inset 0px 0px 1px rgba(0,0,0,0.6)");
	}
}

.ido_colour_popup {
	clear: both;
	position: absolute;
	z-index: 1000;
	background-color: white;
	padding: 0 9px 9px 0;
	display: inline-block;
	max-width: 256px;
	border: 1px solid #ddd;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
	border-radius: 5px;

	& > div {
		cursor: pointer;
		width: 42px;
		height: 42px;
		float: left;
		margin-left: 9px;
		margin-top: 9px;
		background-color: gray;
		.border-radius(3px);
		.box-shadow(~"inset 0px 0px 1px rgba(0,0,0,0.8)");

		&:hover {
			.box-shadow(~"inset 0 0 1px rgba(0,0,0,1), 0px 3px 4px -2px rgba(0,0,0,0.5)");
		}
	}

}